h2 {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
}

p {
    background-color: beige;
}

body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#pangolin-special {
    background-color: green;
}


.yellow-class {
    color: yellow;
}

/* outros selectores */
div>h2 {
    color: cadetblue;
}

/* Selector de Estados */
#nav:hover {
    background-color: aquamarine;
}

#nav {
    color: red;
}

h6 {
    color: yellow;
}

#image-box {
    /* position: sticky; comporta-se como um post-it, mas fica dentro do elemento pai, fica preso*/
    /* position: static; fica fixo na página */
    /* position: relative; alinha-se relativamente o pai dele, elemento anterior no index */
    /* fixed - o elemento fica fixo sempre, mas ignora os elementos para trás, alinha-se a toda a estrutura */
    position: relative;
    top: 50px;
    left: 200px;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: solid black 5px;
    border-radius: 15%;
    text-align: center;
    /* margens para cima e para baixo de 5%, ajusta automaticamente a imagem, independentemente de abrirmos mais ou menos a janela */
    margin: 5% auto;
}

#presentation-box {
    /* funciona pelo sentido dos ponteiros do relógio, empurra o texto 10px para baixo e 15px à esquerda*/
    padding: 10px 0px 0px 15px;
    width: 200px;
    height: 200px;
    background-color: brown;
}

img {
    position: static;
    top: 100px;
    left: 10px;
}
 
/* media queries sempre no final do css
(aplicação aplicação visual em casos específicos: mobile, print )
por exemplo o menu desaparece-se se tentarmos colocar para imprimir
e na linha de baixo trocamos o que aparecia a amarelo para vermelho*/
@media print {
    #nav{
    display: none;

    }
   .yellow-class{
    color: red;
   }
 
}

/* media query para ecrãs de tamanhos diferentes 
ex: está roxo e muda para aquamarine para tamanhos grandes*/
@media (min-width: 500px){
    #image-box{
        background-color: aquamarine;
    }
}



